/* .modal-dialog {
  width:100vw!important;
  height: 100vh;

}
.modal-body {
  width:100vw!important;
  border: 0 none;
  max-width: none;
  height: 100vh;
}
#template{
  width:100vw!important;
  max-width: none;
  height: vh;

} */
