<body>
  <div class="box">
      <p class="heading">Frequently Asked Questions</p>
      <div class="faqs">
          <details>
              <summary>Is there any registration fee?</summary>
              <p class="text">There is no registration fee or any kind of booking fees. You pay only the ticket price.</p>
          </details>
          <details>
              <summary>How to create a account?</summary>
              <p class="text">Go to SignUp page, fill the details and your account will be created.
                   All booking confirmations will be sent to your email.
                   You can forward the message to your co-passanger or friend,
                   if in case you have booked on behalf of them.
              </p>
          </details>
          <details>
              <summary>How to close my account?</summary>
              <p class="text">We hate to see you leave us and we can address if you are facing any issues.
                  You can logout from your profile section, your booking history
                  will be archived and available whenever you login in the future.
                  You could write to us support@tms.com
              </p>
          </details>
          <details>
              <summary>How do I cancel my ticket?</summary>
              <p class="text">You can cancel your bus tickets on TMS website from My Bookings.
                  Select the ticket you wish to cancel and you will see a Cancel button at the bottom of the ticket.
                  Click on it to select seats for cancellation and view cancellation charges applicable.
                  You can then acknowledge it to proceed with Cancellation.
                  Depending on the operator there are seperate cancellation
                  policy and you may not be allowed to cancel ticket before certain hours from Departure time.
              </p>
          </details>
          <details>
              <summary>How do I print/download my e-ticket?</summary>
              <p class="text">You can print your ticket from the website - "View Ticket" option.
                  You can print the ticket or download as PDF.
              </p>
          </details>
          <details>
              <summary>Do I need an ID proof while booking ticket?</summary>
              <p class="text">A government provided ID proof is required to board the bus.
                  However you need not enter the details during booking.
              </p>
          </details>
          <details>
              <summary>How do I pay?</summary>
              <p class="text">You can pay using multiple options like debit card, credit card, wallets,
                   net-banking and even UPI.
              </p>
          </details>
          <details>
              <summary>Payment deducted but booking not done?</summary>
              <p class="text">Sometimes due to network issues on the bank side we dont receive the payment information and
                  so is the reason the booking fails.
                  During such scenario our executives will immediately contact customer to either confirm the
                  ticket for the same amount or initiate a refund in case customer need not like to proceed with booking.
              </p>
          </details>
          <details>
              <summary>Are there any hidden charges(Service Charge or Tax)?</summary>
              <p class="text">Unlike other online bus booking sites
                  we do not have any hidden charges like Service charge, payment gateway charge etc.
              </p>
          </details>


      </div>
  </div>
</body>
