<div class="card">
  <div class="card-body">
      <h4 class="card-title" style="color: lightcoral;">Email Verification</h4>

      <div class="alert alert-danger" *ngIf="Error">
        {{message}}
     </div>

      <form  method="post" #forgotpasswordForm="ngForm" (ngSubmit)="onSubmit(forgotpasswordForm)">
          <div class="form-group row">
              <label for="email" class="col-form-label col-sm-2" style="color: grey;">Email:</label>
              <div class="col-md-4">
                  <input type="text" class="form-control"   ngModel  name="Email"  placeholder="Email" required>
              </div>
              <div class="col-md-5">
                   <!-- <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>  -->
              </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-md-1">
                  <button type="submit" class="btn btn-info" style="color: white; background-color: lightcoral; border-color: lightcoral;" >Submit</button>
              </div>
          </div>
      </form>
  </div>
</div>
