

<div class="container mb-5">
  <h1 class="mt-2 ml-3">Admin Controls</h1>
  <div class="row">

          <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
              <p class="card-text">
                View All Users
              </p>
              <button type="button" (click)="OnSubmitUsers()" class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title">Buses</h5>
            <p class="card-text">
              View All Buses
            </p>
            <button type="button" (click)="OnSubmitBuses()" class="btn btn-dark">View</button>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Buses</h5>
          <p class="card-text">
            Add New Buses
          </p>
          <button type="button" (click)="OnAddBuses()"class="btn btn-dark">Add</button>
            </div>
        </div>
      </div>
  </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title">Routes</h5>
            <p class="card-text">
              View All Routes
            </p>
            <button type="button" (click)="OnSubmitRoutes()" class="btn btn-dark">View</button>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Routes</h5>
          <p class="card-text">
            Add New Routes
          </p>
          <button type="button" (click)="OnAddRoutes()" class="btn btn-dark">Add</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card mt-3">
          <div class="card-body" style="align-items: center;">
            <h5 class="card-title">Bookings</h5>
        <p class="card-text">
          View All Bookings
        </p>
        <button type="button" (click)="OnSubmitBookings()" class="btn btn-dark">View</button>
          </div>
      </div>
  </div>
  <br>
  <br>
</div>
<div class="mt-5">
<a  class="container-float" (click)="Onlogout()" style='font-size:30px;color:lightcoral'><span></span><h2>Logout</h2></a>
</div>


